@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}
body{
    background-color:white;
    background-size: 100% 100%;
}
.wrapper{
    width:330px;
    padding:2rem 1rem;
    margin:80px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
h1{
    font-size: 2rem;
    color:#07001f;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline:none;
    border: 1px solid #fff;
    padding:12px 20px ;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding:10px 0;
    border-radius: 20px;
    outline:none;
    border:none;
    width:90%;
    cursor:pointer;
    background: #4ddada;

}
button:hover{
    background: #3ebfbf;
}
input:focus{
    border:1px solid rgb(192,192,192);
}
.terms{
    margin-top:0.2rem;
}
.terms input{
    height:1em;
    width:1em;
    vertical-align: middle;
    cursor:pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a{
    color:rgb(17,107,143);
    text-decoration: none;
}
.member{
    font-size: 0.8rem;
    margin-top:1.4rem ;
    color:#636363
}
.member a{
    color:rgb(17,107,143);
    text-decoration: none;
}
.recover{
    text-align: center;
    font-size: 0.7rem;
    margin:0.3rem 1.4rem 0 0;
}
.recover a{
    text-decoration: none;
    color:#464647;
}

.gifts-container{
    display:flex;
    flex: column;
}
.shop-category-container{
    background-color:rgb(151, 150, 150);
}
.set-container{
    display:flex;
    flex:column;
    align-items: center;
    justify-content: center;
}
.inside-category{
    background-color: white;
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:10px;
    margin:5px;
    margin-top:20px;
    margin-right:20px;
    transition: transform 1.5s;
}
.inside-category:hover{
    transform: scale(0.9);
}
.see_more{
    text-decoration-line: none;
    color:#007185;
    
}




#submenu{
    left:0;
    right:0;
    position:absolute;
    top:35px;
    visibility:hidden;
    z-index:1;
}
#submenu li{
   float:none;
   width:100%; 
}

#submenu a:hover{
    background:#fff;
}


li:hover ul#submenu{
    opacity:1;
    top:80px;
    visibility:visible;
}

.men-indianware a{
    text-decoration: none;
}